h1 {
	color:	#FF5533;
}

li {
	color: rgb(122,0,100);
}

h4 {
	color: rgba(11, 99, 150, .8);
  background: rgb(255,100,80);
}

body {
  background: url(https://i.pinimg.com/originals/8c/c5/22/8cc522c738f4d73aef5e5f785b4af2b2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}