<h1>This is the secret page</h1>

<p>You found me!</p>

<img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-1/22549578_1470035439760079_3134227584088652031_n.jpg?oh=f85e767defbc15915b1f7063e4f4a2fd&oe=5A6D6A9E"></img>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
