<h1>You fell in love with: <%= thingVar %><h1>

	<% if(thingVar.toLowerCase() === "padiwaradda"){ %>
		<p>GOOD CHOICE! SHE IS THE BEST!</p>
	<% } else { %>
		<p>BAD CHOICE! You should have said Padiwaradda!</p>
	<% } %>